stages:
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2

before_script:
  - docker info

#build:
#  stage: build
#  script:
#    - echo "Building the Docker image..."
#    - docker build -t $CI_REGISTRY_IMAGE:latest .
#    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
#    - docker push $CI_REGISTRY_IMAGE:latest
#  rules:
#    - if: '$CI_COMMIT_BRANCH == "main"'

deploy:
  stage: deploy
  script:
    - echo "Deploying to server..."
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:latest
    - docker compose up -d
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
