stages:
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2

before_script:
  - docker info

build:
  stage: build
  script:
    - docker build -t myapp .
    - docker tag myapp registry.gitlab.com/$CI_PROJECT_PATH/myapp:latest
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker push registry.gitlab.com/$CI_PROJECT_PATH/myapp:latest
  only:
    - master

deploy:
  stage: deploy
  script:
    - echo "Deploying to server..."
    - ssh user@server_ip "docker pull registry.gitlab.com/$CI_PROJECT_PATH/myapp:latest && docker-compose down && docker-compose up -d"
  only:
    - main

