stages:
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2

before_script:
  - docker info

build:
  stage: build
  script:
    - docker build -t registry.gitlab.com/bas3011029/bas-backend .
    - docker push registry.gitlab.com/bas3011029/bas-backend
  only:
    - main

deploy:
  stage: deploy
  script:
    - echo "Deploying to server..."
    - ssh user@server_ip "docker pull registry.gitlab.com/$CI_PROJECT_PATH/myapp:latest && docker-compose down && docker-compose up -d"
  only:
    - main

