version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - CONFIG_ENV=env
      - DB_HOST=147.45.151.218
      - DB_PORT=5432
      - DB_USER=executor
      - DB_PASSWORD=9Kznc.,@U/3.a{
      - DB_NAME=default_db

  db:
    image: postgres:14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: myapp
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
